<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!--
	phpBB style name: we_universal
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:      nextgen ( http://xeronix.org/ )
	Modified by:      v12mike ( v12mike@ingenious.co.nz )
-->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->

<link href="{ROOT_PATH}styles/prosilver/theme/stylesheet.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_THEME_PATH}/common.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/content.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/cp.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/forms.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/colours.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/responsive.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/custom.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{ROOT_PATH}styles/prosilver/theme/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_PLUPLOAD -->
	<link href="{ROOT_PATH}styles/prosilver/theme/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<link href="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{ROOT_PATH}styles/prosilver/theme/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

<!--[if lt IE 9]>
	<script src="{T_TEMPLATE_PATH}/html5shiv.min.js"></script>
<![endif]-->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}<!-- IF S_USER_LOGGED_IN --> logged-in<!-- ELSE --> logged-out<!-- ENDIF -->">

<!-- EVENT overall_header_body_before -->

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>

	<div class="inventea-headerbar">
		<nav class="inventea-wrapper inventea-userbar">
			<!-- INCLUDE navbar_responsive_header.html -->


			<ul class="linklist bulletin inventea-user-menu" role="menubar">
				<!-- EVENT overall_header_searchbox_before -->
				<!-- EVENT overall_header_searchbox_after -->
				<!-- IF S_REGISTERED_USER -->
					<!-- EVENT navbar_header_user_profile_prepend -->
					<li id="username_logged_in" class="rightside <!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->" data-skip-responsive="true">
						<!-- EVENT navbar_header_username_prepend -->
						<div class="header-profile dropdown-container">
							<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --> {CURRENT_USERNAME_SIMPLE}</a>
							<div class="dropdown">
								<div class="pointer"><div class="pointer-inner"></div></div>
								<ul class="dropdown-contents" role="menu">
								<!-- IF U_RESTORE_PERMISSIONS -->
									<li>
										<a href="{U_RESTORE_PERMISSIONS}">
											<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
										</a>
									</li>
								<!-- ENDIF -->

									<!-- EVENT navbar_header_profile_list_before -->

									<li>
										<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
											<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
										</a>
									</li>
									<!-- IF U_USER_PROFILE -->
									<li>
										<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
											<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
										</a>
									</li>
									<!-- ENDIF -->

									<!-- EVENT navbar_header_profile_list_after -->

									<li class="separator"></li>
									<li>
										<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
											<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						<!-- EVENT navbar_header_username_append -->
						
					</li>
					
					<!-- IF S_DISPLAY_PM -->
						<li class="small-icon rightside" data-skip-responsive="true">
							<a id="pm-disp" href="{U_PRIVATEMSGS}" role="menuitem">
								<i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>{L_PRIVATE_MESSAGES} </span><strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
							</a>
						</li>	
					<!-- ENDIF -->
					
					<!-- IF S_NOTIFICATIONS_DISPLAY -->
						<li class="small-icon dropdown-container dropdown-{S_CONTENT_FLOW_END} rightside" data-last-responsive="true">
							<a id="notif-disp" href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger">
								<i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>{L_NOTIFICATIONS} </span><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong>
						</a>
							<!-- INCLUDE notification_dropdown.html -->
						</li>
					<!-- ENDIF -->
					
					<!-- EVENT navbar_header_user_profile_append -->
					
				<!-- ELSE -->
						<li class="small-icon rightside" data-skip-responsive="true"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><i class="icon fa-fw fa-sign-in" aria-hidden="true"></i>{L_LOGIN_LOGOUT}</a></li>
					<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
						<li class="small-icon rightside" data-skip-responsive="true"><a href="{U_REGISTER}" role="menuitem"><i class="icon fa-fw fa-user-plus" aria-hidden="true"></i>{L_REGISTER}</a></li>
					<!-- ENDIF -->
					
					<!-- EVENT navbar_header_logged_out_content -->
					
				<!-- ENDIF -->
			</ul>
		</nav>
	</div>

		<div class="inventea-header inventea-wrapper">
			<header>
		<!-- EVENT overall_header_headerbar_before -->	
			<!-- EVENT overall_header_navbar_before -->
			<nav>
			<div class="inventea-posts-menu">
				<ul class="inventea-menu" role="menubar">
					<!-- EVENT navbar_header_quick_links_before -->
					<!-- IF S_DISPLAY_SEARCH -->
					<!-- IF S_REGISTERED_USER -->
					<li>
						<a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a>
					</li><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
					<li>
						<a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a>
					</li><!-- ENDIF -->
					<!-- IF S_LOAD_UNREADS -->
					<li>
						<a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a>
					</li><!-- ENDIF -->
					<li>
						<a href="{U_SEARCH_UNANSWERED}" role="menuitem">{L_SEARCH_UNANSWERED}</a>
					</li>
					<li>
						<a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a>
					</li>
					<!-- ENDIF -->
					<!-- EVENT navbar_header_quick_links_after -->
				</ul>
			</div>
			</nav>
			<div class="inventea-dashboard" role="banner">
				<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ L_SITE_HOME }}{% else %}{{ L_INDEX }}{% endif %}">
					<div class="inventea-sitename">
						<h1>{SITENAME}</h1>
						<span>{SITE_DESCRIPTION}</span>
					</div>
				</a>
				<img class="inventea-dashboard-image" src="{T_THEME_PATH}/images/red_car_dashboard.jpg?assets_version={T_ASSETS_VERSION}" alt="forum header image">
			</div>

			<nav>
				<div class="inventea-forum-menu">
					<ul class="inventea-menu" role="menubar">
						<!-- EVENT overall_header_navigation_prepend -->
						<li id="button_faq">
							<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">{L_FAQ}</a>
						</li>
						<!-- IF S_DISPLAY_SEARCH -->
						<li>
							<a href="{U_SEARCH}" role="menuitem">{L_SEARCH}</a>
						</li>
						<!-- ENDIF -->
						<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
						<!-- IF S_DISPLAY_MEMBERLIST -->
						<li id="button_memberlist">
							<a href="{U_MEMBERLIST}" role="menuitem">{L_MEMBERLIST}</a>
						</li>
						<!-- ENDIF -->
						<!-- IF U_TEAM -->
						<li id="button_team">
							<a href="{U_TEAM}" role="menuitem">{L_THE_TEAM}</a>
						</li>
						<!-- ENDIF -->
						<!-- ENDIF -->
						<!-- IF U_MCP -->
						<li>
							<a href="{U_MCP}" title="{L_MCP_SHORT}" role="menuitem">{L_MCP_SHORT}</a>
						</li>
						<!-- ENDIF -->
						<!-- IF U_ACP -->
						<li>
							<a href="{U_ACP}" title="{L_ACP_SHORT}" role="menuitem">{L_ACP_SHORT}</a>
						</li>
						<!-- ENDIF -->
						<!-- EVENT overall_header_navigation_append -->
					</ul>
				</div>
			</nav>
		<!-- EVENT overall_header_headerbar_after -->
		</header>
	</div>

	<div class="inventea-wrapper inventea-content" role="main">
		<!-- EVENT overall_header_page_body_before -->

		<ul id="nav-breadcrumbs" class="linklist navlinks" role="menubar">
			<!-- IF S_INDEX -->
				<li class="rightside inventea-time"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></li>
			<!-- ENDIF -->

			<!-- DEFINE $MICRODATA = ' itemtype="http://schema.org/ListItem" itemprop="itemListElement" itemscope' -->
			{% set navlink_position = 1 %}			
			<!-- EVENT overall_header_breadcrumbs_before -->
			<li class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- IF U_SITE_HOME -->
					<span class="crumb" {$MICRODATA}><a href="{U_SITE_HOME}" itemtype="https://schema.org/Thing" itemprop="item" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span itemprop="name">{L_SITE_HOME}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
				<!-- ENDIF -->
				<!-- EVENT overall_header_breadcrumb_prepend -->
				<span class="crumb" {$MICRODATA}><a href="{U_INDEX}" itemtype="https://schema.org/Thing" itemprop="item" accesskey="h" data-navbar-reference="index"><!-- IF not U_SITE_HOME --><i class="icon fa-home fa-fw"></i><!-- ENDIF --><span itemprop="name">{L_INDEX}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>					
				<!-- BEGIN navlinks -->
					{% set NAVLINK_NAME = navlinks.BREADCRUMB_NAME | default(navlinks.FORUM_NAME) %}
					{% set NAVLINK_LINK = navlinks.U_BREADCRUMB | default(navlinks.U_VIEW_FORUM) %}
					<!-- EVENT overall_header_navlink_prepend -->
					<span class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><a href="{{ NAVLINK_LINK }}" itemtype="https://schema.org/Thing" itemprop="item"><span itemprop="name">{{ NAVLINK_NAME }}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
					<!-- EVENT overall_header_navlink_append -->
				<!-- END navlinks -->
				<!-- EVENT overall_header_breadcrumb_append -->
			</li>
			<!-- EVENT overall_header_breadcrumbs_after -->
		</ul>

		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
			<div id="information" class="rules">
				<div class="inner">
					<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
				</div>
			</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
