/* Main blocks
---------------------------------------- */
.red_wrap {
	background-color: #d8d8d8;
	border: 3px solid #920000;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -1px 6px 2px rgba(2, 2, 2, 0.7);
	margin: 16px auto 1px;
	padding: 15px;
	width: 78%;
}

.wrap2 {
	margin: 0 auto;
	padding: 0 15px;
	width: 78%;
}

.red-header {
	background: #292c2f none repeat scroll 0 0;
	width: 100%;
	margin-top: -14px;
}

#red-top {
	background: -webkit-linear-gradient(top, #000000 0%,#920000 1%,#770100 44%,#770100 55%,#920000 99%,#af0405 99%,#000000 100%);
	background: linear-gradient(to bottom, #000000 0%,#920000 1%,#770100 44%,#770100 55%,#920000 99%,#af0405 99%,#000000 100%);
	border-bottom: 1px solid #c93838;
	border-radius: 3px;
	margin: 22px -18px -10px;
	padding: 0 10px;
}

#red-top a {
	color: #fff;
}

#navbar-footer a {
	color: #fff;
}

.red-topper {
	background: #920000; /* Old browsers */
	background: -webkit-linear-gradient(top, #000000 0%,#920000 1%,#770100 44%,#770100 55%,#920000 99%,#af0405 99%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000000 0%,#920000 1%,#770100 44%,#770100 55%,#920000 99%,#af0405 99%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 3px;
	margin: 0px -18px -17px;
	padding-bottom: 15px;
}

#red-bottom {
	background-color: #3f3f3f;
	border: 5px solid #ffffff;
	border-radius: 3px;
	padding: 0 10px;
}

#red-bottom a {
	color: #fff;
}

p {
	color: #000;
}

.search-header {
	border-radius: 4px;
	display: block;
	float: right;
	margin-right: -9px;
	margin-top: 1px;
}

.forumbg {
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 5px;
	clear: both;
	border-radius: 7px;
}

.breadcrumbs .crumb:before {
	content: '\2039';
	font-weight: bold;
	padding: 0 0.5em;
	color: #fff;
}

/* Custom CSS for RedArea
---------------------------------------- */
.mainbar-title {
	color : #fff; /* Category Title Color */
	margin-top :8px;
	margin-bottom: 12px;
	text-align: center;
	text-shadow:#fff 0px -1px 0px; /* Category Title Shadow [Normal]*/
}

.mainbar-m {
	background: url("./images/mainbar-m.png") repeat-x top left;
	width : 100%;
	height : 50px;
	margin : 0;
	font-weight : bold;
	font-size : 1.3em;
	text-align : left;
	white-space : nowrap;
	overflow : hidden;
}

.mainbar-m a:link {
	color: #ffffff;
	text-shadow: 0 1px 1px #000;
	text-decoration: none;
}

.mainbar-m a:visited {
	color: #ffffff;
	text-decoration: none;
}

.mainbar-m a:hover, .maintitle-m a:active {
	color: #ffffff;
	text-decoration: underline;
}

.mainbar-l {
	background: url("./images/mainbar-l.png") no-repeat top left;
	padding-left: 31px;
	margin-bottom: -7px;
	margin-top: 6px;
}

.mainbar-r {
	background: url("./images/mainbar-r.png") no-repeat top right;
	margin-bottom: -7px;
	padding-right : 31px;
}

.mainfooter {
	height: 9px;
	background: #950000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.logo-bar {
	float: left;
	height: 100%;
	background-image: url("./images/logo-bar.png");
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	margin-left: -13px;
	margin-top: 18px;
}

/* font icon */
.fa-gears::before, .fa-cogs::before {
	color: #e36363;
}

.fa-legal::before, .fa-gavel::before {
	color: #6f89c7;
}

.fa-chevron-circle-up::before {
	color: #920000;
}

.fa-file::before {
	color: #eab751;
}

.fa-info::before {
	color: #71a6c5;
}

.fa-remove::before, .fa-close::before, .fa-times::before {
	color: #ac1919;
}

.fa-exclamation::before {
	color: #eb2c2c;
}

.fa-pencil::before {
	color: #555;
}

.fa-quote-left::before {
	color: #555;
}

.cc-color-override--1687565279.cc-window {
	background-color: #434343 !important;
	color: #fff;
}

.cc-window.cc-banner {
	flex-direction: row;
	padding: 0.3em 1.8em !important;
	width: 100%;
}

/* Dropdown menu
----------------------------------------*/

.dropdown-contents a {
	display: block;
	padding: 5px;
	color: #fff;
}

/* Miscellaneous styles phpbb 3.2.3
---------------------------------------- */
.copyright {
	font-size: 10px;
	text-align: center;
	padding: 10px;
}

.footer-row {
	font-size: 10px;
	line-height: 1.8;
	margin: 0;
}

/* Inner box-model clearing 
------------------------------------------*/
.dropdown-extended .header {
	padding: 0 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	text-shadow: 1px 3px 9px #000;
	text-transform: uppercase;
	line-height: 3em;
	border-bottom: 1px solid;
	border-radius: 5px 5px 0 0;
}

/* Responsiv 
------------------------------------------*/
@media (min-width: 771px) {
	.responsive-search {
	display: none;
	}
}

@media (max-width: 770px) {
	.search-header {
	display: none;
	}
}

@media (max-width: 500px) {
.red_wrap {
	width: 78%;
}

.red-image-wrapper {
	display: block;
	position: relative;
	width: 100%;
}
}

@media (min-width: 501px) and (max-width: 768px) {
.red_wrap {
	width: 78%;
}
}
