<div id="navbar-footer">
<div class="navbar" role="navigation">
	<div class="inner">

	<ul id="nav-footer" class="nav-footer linklist" role="menubar">
		<li class="breadcrumbs">
			<!-- IF U_SITE_HOME -->
				{% spaceless %}
				<span class="crumb">
					<a href="{U_SITE_HOME}" data-navbar-reference="home">
						<i class="icon fa-home fa-fw" aria-hidden="true"></i><span>{L_SITE_HOME}</span>
					</a>
				</span>
				{% endspaceless %}
			<!-- ENDIF -->
			<!-- EVENT overall_footer_breadcrumb_prepend -->
			{% spaceless %}
			<span class="crumb">
				<a href="{U_INDEX}" data-navbar-reference="index">
					<!-- IF not U_SITE_HOME --><i class="icon fa-home fa-fw" aria-hidden="true"></i><!-- ENDIF --><span>{L_INDEX}</span>
				</a>
			</span>
			{% endspaceless %}
			<!-- EVENT overall_footer_breadcrumb_append -->
		</li>
		<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
			<li data-last-responsive="true">
				<a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="icon <!-- IF S_WATCHING_FORUM -->fa-check-square-o<!-- ELSE -->fa-square-o<!-- ENDIF --> fa-fw" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">
					<i class="icon <!-- IF S_WATCHING_FORUM -->fa-square-o<!-- ELSE -->fa-check-square-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span>{S_WATCH_FORUM_TITLE}</span>
				</a>
			</li>
		<!-- ENDIF -->

		<!-- EVENT overall_footer_timezone_before -->
		<li class="rightside">{S_TIMEZONE}</li>
		<!-- EVENT overall_footer_timezone_after -->
		<!-- IF not S_IS_BOT -->
			<li class="rightside">
				<a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem">
					<i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>{L_DELETE_COOKIES}</span>
				</a>
			</li>
			<!-- IF S_DISPLAY_MEMBERLIST -->
				<li class="rightside" data-last-responsive="true">
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" role="menuitem">
						<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST}</span>
					</a>
				</li>
			<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_before -->
		<!-- IF U_TEAM -->
			<li class="rightside" data-last-responsive="true">
				<a href="{U_TEAM}" role="menuitem">
					<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{L_THE_TEAM}</span>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_after -->
		<!-- IF U_CONTACT_US -->
			<li class="rightside" data-last-responsive="true">
				<a href="{U_CONTACT_US}" role="menuitem">
					<i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>{L_CONTACT_US}</span>
				</a>
			</li>
		<!-- ENDIF -->
	</ul>

	</div>
</div>
</div>